ion-slides{
    --bullet-background:rgb(158, 158, 158);
    --bullet-background-active:rgb(121, 121, 121);
}

.distant{
    margin-bottom: 2%;
    text-align: center;
}

ion-badge{
    margin-left: 10px;
}