<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="product"></ion-back-button>
    </ion-buttons>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">name</ion-label>
    <ion-input [(ngModel)]="db_name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">number id</ion-label>
    <ion-input [(ngModel)]="db_numid"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">work</ion-label>
    <ion-input [(ngModel)]="db_work"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="edit()">edit</ion-button>
</ion-content>