<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-title style="text-align: center;">
      Home
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div style="margin-bottom: 8px;" class="ion-margin">
    <ion-img src="https://cms.dmpcdn.com/travel/2017/08/03/dbdabd7b-cbd8-4f36-b4f1-05fd51055d0c.jpg"></ion-img>
    <ion-text>
      <p>วัดพระแก้ว วัดสำคัญที่งดงามของกรุงเทพมหานคร เป็นวัดที่ประดิษฐานพระแก้วมรกต รัชกาลที่ 1 โปรดเกล้าฯ ให้สร้างขึ้นพร้อมกับพระบรมมหาราชวังและกรุงรัตนโกสินทร์</p>
    </ion-text>
  </div> -->
  <ion-grid style="margin-bottom: 50px;">

    <ion-row>
      <ion-col size="4" style="border-right-style:dotted ;">
        ชื่อสถานที่
      </ion-col>
      <ion-col>
        วิทยาลัยเทคโนโลยีพงษ์สวัสดิ์
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" style="border-right-style:dotted ;">
        เวลาทำการ
      </ion-col>
      <ion-col>
        ปิดชั่วคราว
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" style="border-right-style:dotted ;">
        ติดต่อ
      </ion-col>
      <ion-col>
        02 224 3290
      </ion-col>
    </ion-row>

  </ion-grid>

  <div style="margin-bottom: 8px;" class="ion-margin">
    <ion-img src="https://cms.dmpcdn.com/travel/2017/08/03/73512677-71cf-4649-9b4d-ca4b47d2587e.jpg"></ion-img>
    <ion-text color="success">
      <p>“ซากุระเมืองไทย” มักจะบานเต็มที่ในช่วงหลังปีใหม่ราวปลายเดือนมกราคม-ต้นกุมภาพันธ์ แต่ในหนาวนี้ซากุเมืองไทย ได้เริ่มทยอยออกดอกเบ่งบานกันตั้งแต่ช่วงกลาง-ปลายธันวาคม</p>
    </ion-text>
  </div>
  <ion-grid>

    <ion-row>
      <ion-col size="4" style="border-right-style:dotted ;">
        ชื่อ
      </ion-col>
      <ion-col>
        ซากุระ อ่างขาง
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" style="border-right-style:dotted ;">
        เวลาทำการ
      </ion-col>
      <ion-col>
        8.00-16.30 น.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" style="border-right-style:dotted ;">
        ติดต่อ
      </ion-col>
      <ion-col>
        0-5345-0077
      </ion-col>
    </ion-row>

    <div>
      <ion-button expand="full" shape="round" color="dark" routerLink="/product">Product</ion-button>
    </div>
    <div>
      <ion-button expand="full" shape="round" color="primary" routerLink="/show-list">List Page</ion-button>
    </div>
    <div>
      <ion-button expand="full" shape="round" color="danger" (click)="gotoAbout()" >About</ion-button>
    </div>

  </ion-grid>

</ion-content>
